.header {
    position: relative;
    margin: 0 1rem;
    padding: 1rem;
    width: 78%; 
    height: 5rem;
    display: flex;
    align-items: center;    
    border-bottom: 1px solid #000;
}

.greet {
    position: absolute;
    min-width: 8rem;
    color: #777;
}