.imageCard {
    height: 23.5rem;
    width: 19rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
}

.title {
    height: 13%;
    padding: 1rem;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.content {
    position: relative;
    height: 87%;
    width: 100%;
    padding: 1rem;
}

.nextImage {
    position: relative;
    height: 100%;
    width: 100%;
}