.imageCard {
    height: 23.5rem;
    width: 90%; /* fixed suitable size: 19rem */
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
    transform: scale(1);
    transition: transform ease-out 0.5s;
}

.imageCard:hover {
    transform: scale(1.07);
    transition: transform ease-out 0.5s;
}

.title {
    height: 13%;
    padding: 1rem;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.content {
    position: relative;
    height: 87%;
    width: 100%;
    padding: 1rem;
}

.nextImage {
    position: relative;
    height: 100%;
    width: 100%;
}

/* when sufficient space for 2 cards a row */
@media (min-width: 855px) {
    .imageCard {
        width: 45%; /* fixed suitable size: 19rem */
    }
}

/* when sufficient space for 3 cards a row */
@media (min-width: 1180px) {
    .imageCard {
        width: 30%; /* fixed suitable size: 19rem */
    }
}

/* when sufficient space for 4 cards a row */
@media (min-width: 1530px) {
    .imageCard {
        width: 19rem; /* fixed suitable size: 19rem */
    }
}